

.btn {
    display: block;
    padding: 10px 40px;
    margin: 10px auto;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: #ff0000 ;
    background: #927855;;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;


    
  }
  
  .btn:hover, .btn:focus, .btn:active, .btn:visited {
      transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
      animation: gelatine 0.5s 1;
  }
  
  @keyframes gelatine {
    
    0%, 100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }
  
  
  
  
  
  

body {
    overflow: hidden;
    background: linear-gradient(to right, #1e9496 -4%, #ff88e9 100%);
    background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  }
  
  
  section{
    position: sticky;
    margin: 10px 110px;
    width: 600px;
    padding:  10px 10px;
    height: 505px;
    border-radius: 15px;
    box-shadow: 0 0 90px rgb(41, 38, 38);
    display: none;
  }
  
  #canvas {
    width: 600px;
    height: 500px;
    position: absolute;
    margin: 0 auto;
    z-index: 1;
    border-radius: 10px;
    display: none;
  }
  
  #fondDuJeu{
    background: linear-gradient(to right, #1fffc3 -4%,  #19b2ff 100%);
    width: 600px;
    height: 500px;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    display: none;
  }
  
  #wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -86px;
      margin-left: -89px;
      text-align: center;
      
  }
  
  a {
      -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
      -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
      -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
      -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
      transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
      display: block;
      margin: 20px auto;
      max-width: 180px;
      text-decoration: none;
      border-radius: 4px;
      padding: 20px 30px;
      font-family: Arial, sans-serif;
      font-weight: bold;
      font-size: 30px;
  }
  
  a#button {
      color: rgba(30, 22, 54, 0.8);
      box-shadow: rgba(30, 22, 54, 0.6) 0 0px 0px 2px inset;
  }
  
  a#button:hover {
      color: rgba(255, 255, 255, 0.85);
      box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
  }
  
  a#button2 {
      color: rgba(30, 22, 54, 0.6);
      box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
  }
  
  a#button2:hover {
      color: rgba(255, 255, 255, 0.85);
      box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
  }
  